<section class="beschreibung">
  <div class="container">
      <div class="row">
          <div class="col">
              <h1>
                  Hier kannst du dich bewerben!
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p class="fetterText">
                  bitte gehe wie folgt vor:
              </p>
              <p>  
                  1. Bitte fülle E-Mail und Deine Bewerbung
              <br />
                  2. Bitte lade eine Datei mit <b class="maxBegrenzung">max. 2 MB</b> hoch
              <br />
                  (Anschreiben, Lebenslauf und Anhänge)
              </p>
          </div>
      </div>
  </div>
</section>

<section class="kontaktFormular">
  <div class="container kontaktFormularContainer">
      <div class="row">
        <div class="col-md-9">
          <h1 class="formularTitel">
            Formular
          </h1>
          <p class="formularUntertitel">
            Wir freuen uns auf deine Bewerbung
          </p>
        </div>

        <div class="col-md-3">
          <img class="iconFormular" src ="/assets/formular.png" alt="geht nicht">
        </div>
      </div>
  </div>
</section>

<section class="inputFeldFormular">
  <div class="container inputFeldFormularContainer">
      <!-- <div class="row">
          <form>
              <fieldset disabled>
                <legend>Disabled fieldset example</legend>
                <div class="col-md-3">
                  <label for="disabledTextInput" class="form-label">Disabled input</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Default file input example</label>
                  <input class="form-control" type="file" id="formFile">
                </div>                  
                <div class="col-md-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                    <label class="form-check-label" for="disabledFieldsetCheck">
                      Can't check this
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
      </div> -->

      <div class="row">
            <div class="form-group">
              <form 
                #f="ngForm"
                (submit)="sendEmail($event)" 
                (ngSubmit)="addData(f)" novalidet>
                
                <div class="col-lg-12">
                  <label 
                    class="label"
                    for="vorname">
                      Vorname
                  </label>
                  <br>
                  <!-- input feld für vorname -->
                  <input 
                    type="text" 
                    id="vorname" 
                    class="form-control" 
                    name="Vorname" 
                    placeholder="Vorname" 
                    ngModel>
                  <div 
                    *ngIf="f.controls['Vorname'] && f.controls['Vorname'].touched && f.controls['Vorname']">
                  </div>
                </div>
                  
                <div class="col-lg-12">
                  <label 
                    class="label"
                    for="nachname">
                      Nachname
                  </label>
                  <br>
                  <!-- input feld für nachname -->
                  <input 
                    type="text" 
                    id="nachname" 
                    class="form-control" 
                    name="Nachname" 
                    placeholder="Nachname" 
                    ngModel>
                  <div 
                    *ngIf="f.controls['Nachname'] && f.controls['Nachname'].touched && f.controls['Nachname']">
                  </div>
                </div>

                <div class="col-lg-12">
                  <label 
                    class="label"
                    for="email">
                      E-Mail
                  </label>
                  <br>
                  <!-- input feld für email -->
                  <input 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    name="Email" 
                    placeholder="email@adresse.com" 
                    ngModel 
                    required>
                  <div 
                    *ngIf="f.controls['Email'] && f.controls['Email'].touched && f.controls['Email'].errors?.['required']" 
                    class="text-danger">
                    <p>
                      E-Mail ist erforderlich.
                    </p>
                  </div>
                </div>
            
                <div class="col-lg-12">
                  <label 
                    class="label"
                    for="telefonnummer">
                      Telefon- / Mobilenummer
                  </label>
                  <br>
                  <!-- input feld für Telefon- / Mobilenummer -->
                  <input 
                    type="telefonnummer" 
                    id="telefonnummer" 
                    class="form-control" 
                    name="Telefonnummer" 
                    placeholder="Telefon- / Mobilenummer" 
                    ngModel>
                  <div 
                    *ngIf="f.controls['Telefonnummer'] && f.controls['Telefonnummer'].touched && f.controls['Telefonnummer']" 
                    class="buttonAbstand">
                  </div>
                </div> 

                <!-- Fachrichtungsauswahl -->
                <div class="col-lg-12 buttonAbstand">
                  <select 
                    type="fachrichtung"
                    id="fachrichtung"
                    class="form-select" 
                    name="Fachrichtung"
                    aria-label="Fachrichtung">
                    <option selected>Auswahl der Fachrichtung</option>
                    <option value="Systemintegration">
                      Systemintegration
                    </option>
                    <div 
                      *ngIf="f.controls['Systemintegration'] && f.controls['Systemintegration'].touched && f.controls['Systemintegration']" >
                    </div>
                    <option value="2">Anwendungsentwicklung</option>
                    <option value="3">Kaufmännisch</option>
                    <option value="4">Helpdesk</option>
                    <option value="5">Personalverwaltung</option>
                    <option value="6">Schulpraktikum Systemintegration</option>
                    <option value="7">Schulpraktikum Anwendungsentwicklung</option>
                    <option value="8">Schulpraktikum Kaufmännisch</option>
                    <option value="9">Schulpraktikum Helpdesk</option>
                    <option value="10">Schulpraktikum Personalverwaltung</option>
                    <option value="11">Pflichtpraktikum Systemintegration</option>
                    <option value="12">Pflichtpraktikum Anwendungsentwicklung</option>
                    <option value="13">Pflichtpraktikum Kaufmännisch</option>
                    <option value="14">Pflichtpraktikum Helpdesk</option>
                    <option value="15">Pflichtpraktikum Personalverwaltung</option>
                  </select>
                </div>

 
                <div class="buttonAbstand">
                  <input type="file" (change)="onFileSelected($event)" />
                  <button (click)="onUpload()">Hochladen</button>
                  <p *ngIf="uploadProgress">Upload Fortschritt: {{ uploadProgress }}%</p>
                </div>
                  
                <!-- Radiobutton -->
                <div class="col-lg-12">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"  required>
                    <label class="form-check-label" for="flexRadioDefault">
                      Ich habe die <a href="https://www.datec24.ag/datenschutz">Datenschutzerklärung</a> gelesen und akzeptiert
                    </label>
                  </div>
                </div>
                
                <!-- Sendenbutton -->
                <div class="buttonAbstand">
                  <button 
                    type="submit" 
                    class="btn btn-primary"
                    [disabled]="!f.form.valid">
                      Senden
                  </button>
                </div>
              </form>
            </div>
          </div>
      </div>
</section>

<section class="kontaktDaten">
  <div class="container">
      <div class="row">
          <div class="col">
              <h2 class="fetterText">
                  Ansprechbartner
              </h2>
                <p>
                    Ralf Müller
                </p>
          </div>
      </div>
  </div>
  <div>
    <h1>Personio Employees</h1>
    <ul>
      <li *ngFor="let employee of employees">{{ employee.first_name }} {{ employee.last_name }}</li>
    </ul>
  </div>
</section>





